input#show,
input#close {
  display: none;
}

label[for="show"] {
  width: 20%;
  height: inherit;
  font-size: 16px;
  color: black;
  font-family: iranyekan;
  text-align: left;
  line-height: 40px;
  padding-left: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
label[for="close"] {
  width: fit-content;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  color: black;
  font-family: iranyekan;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: 500ms;
  &:hover {
    transform: scale(85%);
  }
}
div.modal {
  width: 500px;
  height: 566px;
  background-color: white;
  position: absolute;
  top: calc(50% - 500px / 2);
  left: calc(50% - 500px / 2);
  top: -50%;
  border-radius: 10px;
  box-shadow: 5px 5px 25px black;
  display: none;
  transition: 400ms;
  overflow: auto;
  direction: ltr;
  div.top {
    background-color: white;
    direction: ltr;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
    span {
        padding-right: 20px;
        font-size: 20px;
        font-family: iranyekan;
        font-weight: bold;
    }
  }
  ul {
    width: 100%;
    height: 100%;
    li {
        width: 100%;
        height: auto;
        a{
            display: block;
            padding: 15px;
            box-sizing: border-box;
            text-decoration: none;
            font-family: iranyekan;
            text-align: right;
            color: black;
            border-bottom: 1px solid lightgrey;
        }
    }
  }
}
input#show:checked ~ div.modal {
  display: block;
}
input#close:checked ~ div.modal {
  display: none;
}
input#show {
  display: none;
}