.parent12 {
    margin: 0px 0px 10px 0px;
    height: 417px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 20px;
    div.child {
        width: 25%;
        height: 100%;
        padding: 8px 20px;
        box-sizing: border-box;
        div {
            display: inline-block;
            justify-content: center;
            align-items: center;
            padding: 8px;
            box-sizing: border-box;
            a {
                width: 100%;
                height: 100%;
            }
            img {
                width: 130px;
                height: 130px;
            }
        }
        div.div1 , div.div2 {
            border-bottom: 1px solid lightgrey;
        }
        div.div1 , div.div3 {
            border-left: 1px solid lightgrey;
        }
        
    }
    h4 {
        font-size: 16px;
        font-family: iranyekan;
        text-align: right;
        color: #23254e;
    }
    p {
        font-size: 11px;
        font-family: iranyekan;
        color: #81858b;
        padding: 10px 0px;
    }
    div.text {
        width: 100%;
        text-align: center;
        a {
            text-decoration: none;
            color: #19bfd3;
            font-size: 12px;
            font-weight: bold;
            font-family: iranyekan;
        }
    }
}